:root {
  --bg: #0f172a;
  --card-bg: #111827;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --primary: #6366f1;
  --background: #F2F1FD;
  --btncolor1:    #201E82;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: var(--background);
  color: var(--text);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}